
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid d-flex align-items-center">
      <div class="login-circle header-logo">
        <img src="/images/ducky.svg" alt="Profile Image" class="img-fluid">
      </div>
      <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;Fuzzy Rubber Ducks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ms-auto navbar-nav d-flex align-items-center">
          <a class="nav-link" aria-current="page" href="./profiles/new">Add Pet</a>
          <a class="nav-link" href="#">Add Post</a>
          <a class="nav-link" href="#">Log Out</a>
          <a class="nav-link" href="#">
            <div class="login-circle user-icon">
              <img src="/images/anon.svg" alt="Profile Image" class="img-fluid">
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>