<div class="post-button">
    <p>Create Post</p>
</div>
<div class="container post-partial rounded">
    <div class="post-form-container light-background p-3">
        <h4>Create Post</h4>
        <form 
            autocomplete="off"
            action="/posts"
            method="POST"
            enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label class="post-message mb-2" for="postDescription">Post Message:</label>
                <textarea class="form-control" id="postDescription" name="postDescription"></textarea>
            </div>
            <label class="mb-2" for="imageUpload">
                Image Upload (required)
                <input type="file" class="form-control" name="imageUpload" required/>
            </label>
            <button type="submit" class="async btn green-background">Post</button>
        </form>
    </div>
</div>