<div class="post-button">
    <p>Create Post</p>
</div>
<div class="container post-partial rounded">
    <div class="post-form-container light-background p-3">
        <h4>Create Post</h4>
        <form 
            autocomplete="off"
            action="/posts"
            method="POST"
            enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label class="post-message mb-2" for="postDescription">Post Message:</label>
                <textarea class="form-control" id="postDescription" name="postDescription"></textarea>
            </div>
            <label class="mb-2" for="imageUpload">
                Image Upload (required)
                <input type="file" class="form-control" name="imageUpload" required/>
            </label>
            <button type="submit" class="async btn green-background">Post</button>
        </form>
    </div>
</div>
<!-- 
-<div class="post-button">
    -    <p>Create Post</p>
    -</div>
    -<div class="container post-partial rounded">
    -    <div class="post-form-container light-background p-3">
    -        <h4>Create Post</h4>
    -        <form 
                autocomplete="off"
                action="/posts"
                method="POST"
                enctype="multipart/form-data">
    -            <div class="form-group mb-2">
    -                <label class="post-message mb-2" for="postDescription">Post Message:</label>
    -                <textarea class="form-control" id="postDescription" name="postDescription"></textarea>
    -            </div>
    -            <div class="form-group mb-2">
    -                <label class="mb-2" for="postPhotoLink">Image Link:</label>
    -                <input type="text" class="form-control" id="postPhotoLink" name="postPhotoLink">
    
    +<div class="container post-partial rounded mt-5">
    +    <div class="col-md-12">
    +          <div class="light-background p-3">
    +            <h4>Create Post</h4>
    +            <div>
    +                <form
    +                        autocomplete="off"
    +                        action="/posts"
    +                        method="POST"
    +                        enctype="multipart/form-data"
    +                    >
    +                    <div class="form-group mb-2">  
    +                    <label class="mb-2" for="postDescription">
    +                        Post Description:
    +                        <textarea class="form-control" id="postDescription" name="postDescription" rows="3"></textarea>
    +                    </label>
    +                    </div>
    +                    <label class="mb-2" for="imageUpload">
    +                        Image Upload
    +                            <input type="file" class="form-control" name="imageUpload" required/>
    +                        </label>
    +                        <button type="submit" class="btn green-background">Post</button>
    +                </form>
                 </div>
    -            <button type="submit" class="async btn green-background">Post</button>
    -        </form>
    +        </div>
         </div>
     </div> -->
     
<!-- <form action="/posts" method="POST">
    <div class="form-group mb-2">
        <label class="mb-2" for="postDescription">Post Description:</label>
        <textarea class="form-control" id="postDescription" name="postDescription" rows="3"></textarea>
    </div>
    <div class="form-group mb-2">
        <label class="mb-2" for="postPhotoLink">Image Link:</label>
        <input type="text" class="form-control" id="postPhotoLink" name="postPhotoLink">
    </div>
    <button type="submit" class="btn green-background">Post</button>
</form> -->