<div class="container feed rounded mt-5">
  <div class="feed-header">
    <p>Top Pets</p>
  </div>
  
  <% for (let profile of profiles) { %>
    <div class="row feed-content">
      <a href="/profiles/<%= profile._id %>">
        <div class="col-12 feed-item rounded">
          <div class="login-circle feed-pic">
            <img
              src="<%= profile.petPhoto.profilePhoto %>"
              alt="Profile Image"
              class="img-fluid"
            />
          </div>
          <div class="feed-info">
            <p><%= profile._id %></p>
            <small>Likes: 463</small><small>Posts: 95</small>
          </div>
        </div>
      </a>
    </div>
  <% } %>

</div>
