<%- include('./partials/header') %>

<div class="container center-container login-container rounded m-1">
  
  <div class="login-circle">
    <img src="/images/ducky.svg" alt="Profile Image" class="img-fluid">
  </div>

  <div class="login-options">
    <div class="row">
      <div class="col">
        <div class="container">
          <button type="button" class="btn btn-primary login-btn">Login with Google</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container"> 
          <button type="button" class="disabled btn btn-dark login-btn">Login with Github</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container">
          <button type="button" class="disabled btn btn-secondary login-btn">Login with Apple</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/side-feed') %>

<%- include('./partials/footer') %>