<%- include('./partials/header') %>

<div class="container center-container login-container rounded m-1">
  
  <div class="login-circle">
    <img src="/images/pawzbe-logo.png" alt="Profile Image" class="img-fluid">
  </div>

  <div class="login-options">
    <div class="row">
      <div class="col">

          <a href="/auth/google" class="async">
            <button type="button" class="btn btn-primary login-btn" id="google-login">Login with Google</button>
          </a>

      </div>
    </div>
    <div class="row">
      <div class="col">
 
          <a href="/auth/github" class="async">
            <button type="button" class="btn btn-dark login-btn">Login with Github</button>
          </a>

      </div>
    </div>
    <!-- <div class="row">
      <div class="col">

          <button type="button" class="disabled btn btn-secondary login-btn">Login with Apple</button>

      </div>
    </div> -->
  </div>
</div>

<%- include('./partials/loading') %>

<%- include('./partials/side-feed') %>

<%- include('./partials/footer') %>