<%- include('./partials/header') %>

<div
  class="container center-container login-container rounded m-1 d-flex flex-column align-items-center justify-content-center"
>
  <div class="login-circle mb-4">
    <img src="/images/ducky.svg" alt="Profile Image" class="img-fluid" />
  </div>

  <main class="login-options row justify-content-center">
    <div class="card col-sm-4 col-md-12 mb-2">
      <div class="card-body">
        <a
          href="/auth/google"
          class="btn btn-block btn-social btn-google"
          role="button"
        >
          <i class="fab fa-google"></i>
          Login with Google
        </a>
      </div>
    </div>

    <div class="card col-sm-4 col-md-12 mb-2">
      <div class="card-body">
        <a
          href="/auth/github"
          class="btn btn-block btn-social btn-github"
          role="button"
        >
          <i class="fab fa-github"></i>
          Login with Github
        </a>
      </div>
    </div>

    <div class="card col-sm-4 col-md-12 mb-2">
      <div class="card-body">
        <a
          href="/auth/apple"
          class="btn btn-block btn-social btn-apple"
          role="button"
          style="background-color: lightgray"
        >
          <i class="fab fa-apple"></i>
          Login with Apple
        </a>
      </div>
    </div>
  </main>
</div>

<%- include('./partials/side-feed') %> <%- include('./partials/footer') %>
