@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


body {
  color: #184C34;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #719463;
  height: 100vh;
  margin-top: 100px;
}

a, button {
  transition: all 0.3s ease;
}

a:hover, button:hover {
  opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; 
  color: #1aa159;
}

.button, input[type="submit"], input[type="button"] {
  background-color: #0EBD60; 
  border: none;
  border-radius: 20px; 
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s ease; 
}

.button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #065a34; 
}

.container, .login-container {
  background: #CAD1C9;
  padding: 4px 16px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

.center-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 40%;
}

.login-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.login-circle img {
  width: 75%;
}
.header-logo {
  width: 50px;
  height: 50px;
  margin: 0;
}
.header-left {
  display: flex;
}

.green-background {
  background-color: #0EBD60 !important;
  color: #FFF
}

.navbar-custom {
  background-color: #184C34 !important; 
}

.navbar-brand {
  margin-top: 4px;
}

.navbar-dark {
  background-color: #184C34 !important;
}

.navbar-nav {
  margin-left: auto;
}
.nav-items {
  gap: 10px;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-menu {
  right: 0;
  left: auto;
  position: absolute;
  background: #444;
}

.dropdown-menu small {
  color: #ccc;
  width: 100%;
  padding-left: 10px;
}

.dropdown-menu a {
  color: #fff;
  width: 100%;
  text-align: right;
}
.nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.user-icon {
  width: 40px;
  height: 40px;
  margin: 0;
}
.user-icon img {
  width: 120%;
}

.login-btn {
  margin-top: 10px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-form textarea,
.profile-form input {
  margin: 10px auto;
  width: 100%;
}
.profile-form button {
  width: 100%;
  margin: 10px 0;
}
.profile-form small {
  /* margin: 10px 0; */
  color: #222;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}
.pet-post img {
  max-height: 200px;
}

.disabled > div > div {
  user-select: none;
  pointer-events: none;
}

.enlarge img {
  width: 120%;
  height: 100%;
}

.user-pets-list {
  width: 50%;
  min-width: 300px;
  max-width: 700px;
}
.user-pets-list > div > div {
  border: 1px solid #222;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 250px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center center;
}

#profile-image {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: -125px;
  left: 20px;
}
#profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #555;
  border-radius: 50%;
  position: absolute; 
  top: 0;
  left: 0;
}


#myCarousel {
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
}

#myCarousel img {
  height: 400px;
  object-fit: contain;
}


.bio {
  background: #EFF4ED; /* Lighter background for items */
  border-radius: 10px; /* Rounded corners for items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}




/* Feed Side Bar */

.folded-page::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0; /* Adjust these values to change the size of the folded triangle */
  border-color: transparent #f0f0f0 transparent transparent; /* Adjust this color to match the background color */
}

.sidebar-button {
  position: absolute;
  display: inline;
  white-space: nowrap;
  width: 50px;
  height: 200px;
  right: calc(22% + 1%);
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 40px 40px 40px 0; /* Adjust these values to change the size of the folded triangle */
  border-color: transparent #f0f0f0 transparent transparent; 
}

.sidebar-button p {
  position: relative;
  top: 25%;
  left: 150%;
  transform: rotate(90deg);
  margin: 0;
}

.feed {
  display: block;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  width: 22%;
  background: #CAD1C9;
  padding: 2%;
  text-align: center;
  overflow-y: auto;
  border-radius: 10px;
}

.feed-item {
  height: 80px;
  background: #EFF4ED;
  margin: 8px 0;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.feed-photo-container {
  display: flex;
  padding: 0;
  margin: 0;
  width: auto;
  background: transparent;
  border-radius: 50%;
}
.feed-container {
  background: transparent;
  border-radius: 50%;

}
.feed-pic {
  position: relative;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
  background: transparent;
}

.feed-pic img {
  width: auto; /* Adjusted to fill the container */
  height: 120%; /* Keep aspect ratio */
}

.feed-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feed-info small,
.feed-info p {
  margin: 4px 0;
  color: #184C34; /* Accent Color for text */
}

.feed a {
  text-decoration: none;
  color: #184C34; /* Accent Color for links */
}

.feed-item:hover {
  background: #a9ecc9; /* Primary Color for hover */
  color: #fff; /* White text on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* Post Partial Adjustments */

.post-partial {
  display: block;
  position: absolute;
  left: 3%;
  top: 28%;
  transform: translateY(-50%);
  width: 22%;
  background: #CAD1C9; /* Secondary Color */
  padding: 2%;
  text-align: left;
  overflow-y: auto;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.light-background {
  background: #EFF4ED
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: 700px) {
  .center-container {
    width: 80%;
  }

  .navbar-brand {
    display: none;
  }
}

@media (max-width: 767px) {
  .feed {
    display: none;
  }
  .post-partial {
    display: none;
  }
  #profile-image {
    display: none;
  }
  #pet-detail-bio {
    margin-top: 30px;
  }
}
