body {
  color: #efefef;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #57647e;
  height: 100vh;
  margin-top: 100px;
}
.login-container {
  background: #8da2cc;
}

.container {
  padding: 4px 16px;
}

li {
  list-style: none;
}

.center-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 40%;
}

.login-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 2px solid #444;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  background: rgb(167, 177, 21);
}
.login-circle img {
  width: 75%;
}
.header-logo {
  width: 40px;
  height: 40px;
  margin: 0;
}

.user-icon {
  width: 40px;
  height: 40px;
  margin: 0;
}

.login-btn {
  margin-top: 10px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-form input {
  margin: 10px 0;
}
.profile-form button {
  width: 100%;
}


@media (max-width: 700px) {
  .center-container {
    width: 80%;
  }
}


/* Feed Side Bar */

.feed {
  display: block;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  width: 22%;
  background: rgb(85, 85, 148);
  padding: 2%;
  text-align: center;
  overflow-y: auto;
}
.feed-item {
  height: 80px;
  background: #b2c8f5;
  margin: 8px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feed-pic {
  width: 60px;
  height: 60px;
  margin: 0;
}
.feed-pic img {
  width: 120%;
  height: 100%;
}
.feed-info {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.feed-info small,
.feed-info p {
  margin: 0;
  margin: 4px 0;
}
.feed a {
  text-decoration: none;
  color: #444;
}
.feed-item:hover {
  background: #7b94c7;
  color: #fff;
}
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center center
}
@media (max-width: 700px) {
  .feed {
    display: none;
  }
}