<%- include('../../partials/header') %>

<!-- {
  petDetails: {
    bio: "Hi, I'm Karl!",
    favoriteToys: [ 'Stuff', 'Things' ],
    breed: 'Shepard',
    animalType: 'Dog',
    dob: 2020-01-01T00:00:00.000Z
  },
  _id: new ObjectId('6565293f2242a241f3f00050'),
  petName: 'Karl',
  humanNames: [ 'tim' ],
  images: [ '' ],
  createdAt: 2023-11-27T23:41:51.519Z,
  updatedAt: 2023-11-27T23:41:51.519Z,
  __v: 0
} -->
<% console.log(profile.petPhoto) %>
<form class="profile-form" action="/profiles/" method="POST">
  <div class="form-group">
    <input
      type="text"
      name="petName"
      class="petName form-control"
      value="profile.petName"
      required
    />

    <input
      type="text"
      name="animalType"
      class="animalType form-control"
      value="profile.petDetails.animalType"
      required
    />

    <input
      type="text"
      name="breed"
      class="breed form-control"
      value="profile.petDetails.breed"
    />

    <input
      type="date"
      name="dob"
      class="dob form-control"
      value="profile.petDetails.dob"
      required
    />

    <textarea
      name="bio"
      id="bio"
      value="profile.petDetails.bio"
      cols="30"
      rows="5"
      class="rounded"
    ></textarea>

    <input
      type="text"
      name="favoriteToys"
      class="favoriteToys form-control"
      value="profile.favoriteToys"
    />

    <input
      type="text"
      name="banner"
      class="banner form-control"
      value="profile.banner"
    />

    <input
      type="text"
      name="owners"
      class="owners form-control"
      value="profile.owners"
    />

    <input
      class="form-control"
      type="text"
      name="profilePhoto"
      id="profilePhoto"
      value="profile.profilePhoto"
    />

    <button class="btn-primary btn" type="submit">Submit</button>
  </div>
</form>

<%- include('../../partials/side-feed', { profiles }) %>

<%- include('../../partials/footer') %>
