<%- include('../../partials/header') %>

<form class="profile-form" action="/profiles/" method="POST">
  <div class="form-group">

    <input
      type="text"
      name="petName"
      class="petName form-control"
      placeholder="Your Pet Name Here"
      required
    />
    
    <input
      type="text"
      name="animalType"
      class="animalType form-control"
      placeholder="Animal Type"
      required
    />
    
    <input type="text" name="breed" class="breed form-control" placeholder="Your Pet Breed" />
    
    <input
      type="date"
      name="dob"
      class="dob form-control"
      placeholder="DOB"
      required
    />
    
    <textarea name="bio" id="bio" cols="30" rows="5" class="rounded"></textarea>
    
    <input
      type="text"
      name="favoriteToys"
      class="favoriteToys form-control"
      placeholder="Favorite Toys (comma separated)"
    />
    
    <input
      type="text"
      name="images"
      class="images form-control"
      placeholder="Pet Images (comma separated)"
    />
    
    <input
      type="text"
      name="owners"
      class="owners form-control"
      placeholder="Pet Owners (comma separated)"
    />
    
    <input
      class="form-control"
      type="text"
      name="profilePhoto"
      id="profilePhoto"
      placeholder="Add Profile Photo"
    />
    
    <button class="btn-primary btn" type="submit">Submit</button>
  </div>
</form>

<%- include('../../partials/side-feed') %>

<%- include('../../partials/footer') %>
