<%- include('../../partials/header') %>

<form action="/profiles/" method="POST">
  <!-- <label for="petName"></label> -->
  <input
    type="text"
    name="petName"
    class="petName"
    placeholder="Your Pet Name Here"
    required
  />
  <br />
  <input
    type="text"
    name="animalType"
    class="animalType"
    placeholder="Your Animal Type"
    required
  />
  <br />
  <input type="text" name="breed" class="breed" placeholder="Your Pet Breed" />
  <br />
  <input
    type="text"
    name="dob"
    class="dob"
    placeholder="Your Pet DOB"
    required
  />
  <br />
  <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
  <br />
  <input
    type="text"
    name="favoriteToys"
    class="favoriteToys"
    placeholder="Your Pet Favorite Toys"
  />
  <br />
  <input
    type="text"
    name="images"
    class="images"
    placeholder="Pet Images (comma seperated)"
  />
  <br />
  <input
    type="text"
    name="owners"
    class="owners"
    placeholder="Pet Owners (comma seperated)"
  />
  <br />

  <input
    type="text"
    name="profilePhoto"
    id="profilePhoto"
    placeholder="Add Profile Photo"
  />
  <br />
  <button type="submit">Submit</button>
</form>
<%- include('../../partials/footer') %>
